/disk/*
!/disk/.gitkeep
*.map
*.o
*.bin
*.elf
build/
usr/bin
*.log
*.pcap
## --- LaTeX ---
*.aux
*.fdb_latexmk
*.fls
*.gz
*.log
*.out
*.tmp
*.toc
*.synctex.gz
*.bbl
*.blg
*.thm
*.nav
*.snm
*.vrb
*.gdb_history
*.cache
*.odt#

## --- Neovim / Editores ---
*.swp
*.swo
.netrwhist
undo/
.vimspector.json

## --- Directorios de salida (opcional) ---
# Si configuras Vimtex para compilar en una carpeta aparte:
# build/
# out/
