/disk/*
!/disk/.gitkeep
*.map
*.o
kernel
*.log
*.pcap
## --- LaTeX ---
*.aux
*.fdb_latexmk
*.fls
*.gz
*.log
*.out
*.pdf
*.toc
*.synctex.gz
*.bbl
*.blg
*.thm
*.nav
*.snm
*.vrb
*.gdb_history

## --- Neovim / Editores ---
*.swp
*.swo
.netrwhist
undo/
.vimspector.json

## --- Directorios de salida (opcional) ---
# Si configuras Vimtex para compilar en una carpeta aparte:
# build/
# out/
